.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(5px);
}

.react-confirm-alert-body {
    background: var(--white03);
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    width: 320px;
    color: var(--black01);
}

.react-confirm-alert-title {
    font-size: 1.4em;
    font-weight: bold;
}

.react-confirm-alert-message {
    font-size: 16px;
    margin: 15px 0;
}

.react-confirm-alert-button-group {
    display: flex;
    justify-content: space-between;
}

.react-confirm-alert-button-group button {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
}

/* Botão 'Sim' */
.react-confirm-alert-button-group button:first-child {
    background: #eb1b14;
    color: white;
}

.react-confirm-alert-button-group button:first-child:hover {
    background: #ee3832;
}

/* Botão 'Não' */
.react-confirm-alert-button-group button:last-child {
    background: var(--color01);
    color: white;
}

.react-confirm-alert-button-group button:last-child:hover {
    background: var(--color02);
}
