.btnCreate {
    position: relative; 
}

.btnCreateTask{
    background-color: var(--color01);
    padding: 10px 20px;
    color: var(--white01);
    border-radius: 10px;
}

.btnCreateTask:hover{
    background-color: var(--color02);
}

.btnCreateTask:active{
    transform: scale(0.9);
}

.boxCreateTask {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 15;
}