.boxBtnsSelect{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boxBtns{
    display: flex;
    gap: 30px;
    align-items: center;
}

.boxOthersBtns{
    display: flex;
    gap: 30px;
    align-items: center;
}